

div.code div,pre.noneditable_code div {
	float:none;
}

pre.noneditable_code,pre.code_input{
	top:0;
	left:0;
	margin:0;
	position: absolute;
}

pre.noneditable_code{
	height:490px;
	border: 1px solid #ccc;
	margin:0px 10px 0px 10px;
	width: 700px;
}

pre.code_input{
	bottom: 0;
    right: 0;
	border:none;
	width:100%;
}

div.code, div.noneditable_code_container{
    border: 1px solid #BBB;
    height: 500px;
    margin: 0px 0px 15px 0px;
    position: relative;
    width: 100%;
    box-shadow:none;
    display:none;
}

div.noneditable_code_container{
	border:none;
}





/*********************************************************/
/* TABS													*/
/*********************************************************/
p.onglet{
	font-family:'Comfortaa';
	font-size:13px;
	background-color:#EFEFEF;
	float:left;
	padding:3px 40px;
	font-weight:bold;
	margin: 0 3px 0 0;
	border-radius : 4px 4px 0px 0px;
	border:1px solid #bbb;
	border-bottom:none;
	text-transform: uppercase
}

p.onglet.selected {
	background-color:#FFF;
	border-bottom: none;
}


p.onglet a{
	cursor:pointer;
	color:#eb5f69;
	text-decoration:none;
}
p.onglet a:hover{
	text-decoration: underline;
}

